<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
    <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">SANER IG Content<b class="caret"></b></a>
    <ul class="dropdown-menu">
	  <li><a href="overview.html">Overview</a></li>
	  <li><a href="actors_and_transactions.html">Actors and Transactions</a></li>
	  <li><a href="using_group_resources.html">Using Group Resources</a></li>
	  <li><a href="security_considerations.html">Security Considerations</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Transactions<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="transaction-1.html">Query Availability</a></li>
      <li><a href="transaction-2.html">Update Availability</a></li>
      <li><a href="transaction-3.html">Report Availability</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Content Profiles<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="StructureDefinition-saner-bed-group.html">Bed Availability Group</a>
      </li>
      <li>
        <a href="StructureDefinition-saner-device-group.html">Device Availability Group</a>
      </li>
      <li>
        <a href="StructureDefinition-saner-bed-location.html">Single Bed Availability Status</a>
      </li>
      <li>
        <a href="StructureDefinition-saner-supporting-device.html">Single Device Availability Status</a>
      </li>
    </ul>
  </li>
    <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Vocabulary<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="CodeSystem-SanerBedType.html">SANER Bed Type Coding System</a>
      </li>
      <li>
        <a href="ValueSet-BedLocationOperationalStatus.html">Bed Location Operational Status</a>
      </li>
      <li>
        <a href="ValueSet-BedProperty.html">Bed Property</a>
      </li>
      <li>
        <a href="ValueSet-BedType.html">Bed Type</a>
      </li>
      <li>
        <a href="ConceptMap-HAvBED2toFHIR.html">HAvBED2 to FHIR Concept Map</a>
      </li>
    </ul>
  </li>

  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
