name: Feature Branch

on:
  push:
    branches-ignore:
      - 'master'
      - 'release*'

jobs:

  test:
    name: Unit Test
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout Files
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Maven Clean, Test and Package the output
        run: mvn -B test        
#
#      - name: Run Plant UML
#        uses: lokkju/github-action-plantuml@master
#        with:
#          args: -tsvg $GITHUB_WORKSPACE/input/images-source/*.txt -o $GITHUB_WORKSPACE/input/images
          
      - name: Checkin Generated Inputs 
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit --allow-empty -m "Generated Content, Images and FHIR Shorthand Files"
          git push
        
        
